*{
    margin:0;
    padding:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: auto;
    background-image: linear-gradient(180deg, #22223B 0%, #F2E9E4 100%);
    background-attachment:fixed;
    background-size: cover;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
.content{
    height: 60%;
    width: 60%;
    display: flex;
}


.content2{
    height: 80%;
    width: 70%;
    display: flex;
}
#pic img{
    width:100%;
    height:100%;
}
#form{
    background-color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
}

form{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

h1{
    font-size:2.5rem;
    font-weight: bolder;
    text-decoration:underline;
}

table{
    border-spacing: 0.65rem 0.45rem;
}

#username,#userpswd,#gender{
    padding: 0.1rem;
    font-size: 1.2rem;
}
label{
    font-size: 1.5rem;
    font-weight: 400;
}
#lin{
    background: #239f35;
    border: #239f35;

    padding:  0rem 0.4rem 0.4rem 0.4rem;
    border-radius:0.25rem;
    color: antiquewhite;

    font-size: 1.5rem;
    height: 2.5rem;
    width: 7.5rem;

    text-align: center;
}
#lin:hover{
    cursor: pointer;
    background-color: #08cb1f;
}
h4{
    font-size: 1.5625rem;
}
p{
    font-size: 1.25rem;
}
.buttons{
    border-radius: 0.25rem;
    background: #5A755E;
    border: #5A755E;
    color: antiquewhite;

    font-size: 1.3rem;
    height: 2.5rem;
    width: 10rem;

    text-decoration: none;
    padding: 0rem 0.4rem 0.4rem 0.4rem;
}

.buttons:hover{
    
    background: #3d823a;
    border: #5A755E;
}